* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  perspective: 4px;
  overflow-x: hidden;
}

*::selection {
  background-color: white;
  color: greenyellow;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: lawngreen;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}

/* cursor styling */

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(18, 223, 52);
  position: fixed;
  z-index: 199;
}
.cursor_blur {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-color: rgba(26, 201, 55, 0.247);
  position: fixed;
  filter: blur(40px);
  z-index: 9;
}

/* navbar styling */

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  /* //to center items from y-axis */
  justify-content: flex-start;
  padding: 0 150px;
  gap: 50px;
  position: fixed;
  z-index: 99;
  /* to use navbar up */
}

.nav img {
  height: 75px;
}

.nav h4 {
  text-transform: uppercase;
}

/* video styling */

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}

/* page1 styling */

.page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
.page1 .arrow {
  height: 200px;
  width: 200px;
  border: 2px solid greenyellow;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: -3%;
  bottom: 0;
  transition: all ease 0.5s;
}
.page1 .arrow i {
  font-size: 50px;
}

.page1 .arrow:hover {
  scale: 0.4;
  background-color: rgb(127, 212, 57);
}

.page1 h1 {
  font-size: 100px;

  font-weight: 900;
  position: relative;
}
.page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  z-index: -1;
  color: #000;
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 2px rgb(129, 185, 25);
}

.page1 h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.page1 p {
  font-size: 15px;
  font-weight: 100;
}

/* page2 styling */

.page2 {
  min-height: 100vh;
  z-index: 1;
}

.scroller {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  z-index: inherit;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 10px;
  -webkit-text-stroke: 2px greenyellow;
  color: transparent; /* Visible text */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* about us section */

.about-us {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 10;
  justify-content: space-around;
  padding: 89px;
}
.about-us img {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}
.about-us-in {
  width: 50%;
  text-align: center;
}
.about-us-in h3 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 30px;
}
.about-us-in p {
  font-size: 15px;
  line-height: 20px;
  padding: 5px;
}

/* cardsss */

#card1 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuCoYYK2kdJp6gKcQWF5gU7G8c7HmO8GTqWA&s);
}

#card2 {
  background-image: url(https://www.balcarrickgolfclub.com/wp-content/uploads/sites/7556/2022/12/6.jpg?w=1536);
}
#card3 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzlIzm58MLpGZyvzQuW1OXKpU-uz9AQAEbTA&s);
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 50px;
  position: relative;
  z-index: 10;
  margin: 50px;
}
.card {
  height: 400px;
  width: 300px;
  background-color: #11bd36;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all ease 0.9s;
  margin-bottom: 60px;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #11bd36;
  padding: 40px;
  padding-top: 100px;
  opacity: 0;
  transition: all ease 0.9s;
}

.overlay h4 {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  white-space: nowrap;
}

.overlay p {
  color: #000;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover {
  transform: rotate3d(-1, 1, 1, 20deg); /* Example: 3D rotation with angle */
}

/* .green section */

.green {
  height: 30vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: linear-gradient(to left bottom, #27a535, #aadd23);
}
.green h4 {
  width: 45%;
  font-size: 20px;
  line-height: 50px;
  color: black;
  text-transform: uppercase;
}

.green img {
  width: 14%;
  height: 100%;
  object-fit: cover;
}

.page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: black;
}
.page3 p {
  width: 50%;
  font-size: 30px;
  line-height: 40px;
  color: white;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.page3 img {
  position: absolute;
  height: 60px;
}

.page3 .coln1 {
  left: 15%;
  top: 25%;
}
.page3 .coln2 {
  right: 15%;
  bottom: 25%;
}

.page4 {
  height: 30vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin: 40px;
}

.elem {
  height: 70%;
  width: 25%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.elem h2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  color: #000;
  font-weight: 600;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
  overflow: hidden;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}

.elem:hover h2 {
  color: white;
  background-color: transparent;
}

.elem:hover img {
  scale: 1;
}

.page4 h1 {
  font-size: 87px;
  position: absolute;
  top: -20%;
  color: black;
  -webkit-text-stroke: 2px white;
  font-weight: 600;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgb(18, 223, 52);
    position: fixed;
    z-index: 199;
    overflow-x: hidden;
  }
  .cursor_blur {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: rgba(26, 201, 55, 0.247);
    position: fixed;
    filter: blur(40px);
    z-index: 9;
  }

  /* navbar styling */

  .nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ac3e3e;
    /* //to center items from y-axis */
    justify-content: flex-start;
    padding: 0 10px;
    font-size: 10px;
    gap: 10px;
    position: fixed;

    /* to use navbar up */
  }

  .nav img {
    height: 35px;
  }

  .nav h4 {
    text-transform: uppercase;
  }

  /* video styling */

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }

  .main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
  }

  /* page1 styling */

  .page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
  }
  .page1 .arrow {
    height: 50px;
    width: 50px;
  }
  .page1 .arrow i {
    font-size: 30px;
  }

  .page1 .arrow:hover {
    scale: 0.4;
    background-color: rgb(127, 212, 57);
  }

  .page1 h1 {
    font-size: 40px;

    font-weight: 800;
    position: relative;
  }
  .page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    z-index: -1;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px rgb(129, 185, 25);
  }

  .page1 h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .page1 p {
    font-size: 13px;
    font-weight: 100;
    line-height: 20px;
  }

  /* page2 styling */

  .page2 {
    min-height: 100vh;
    z-index: 1;
  }

  .scroller {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    z-index: inherit;
  }

  .scroller::-webkit-scrollbar {
    display: none;
  }

  .scroller h4 {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-right: 10px;
    -webkit-text-stroke: 2px greenyellow;
    color: transparent; /* Visible text */
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* about us section */

  .about-us {
    height: 90vh;
    width: 100%;
    /* background-color: rgb(50, 137, 236); */
    display: flex;
    padding: 10px 50px;
    align-items: center;
    position: relative;

    justify-content: space-around;
    padding: 6px 4px;
    flex-direction: column;
  }
  .about-us img {
    height: 140px;
    width: 140px;
    border-radius: 20px;
    object-fit: cover;
  }
  .about-us-in {
    width: 50%;
    text-align: center;
  }
  .about-us-in h3 {
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .about-us-in p {
    font-size: 14px;
    line-height: 16px;
    padding: 0px;
    margin-bottom: 30px;
  }

  /* cardsss */

  #card1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuCoYYK2kdJp6gKcQWF5gU7G8c7HmO8GTqWA&s);
  }

  #card2 {
    background-image: url(https://www.balcarrickgolfclub.com/wp-content/uploads/sites/7556/2022/12/6.jpg?w=1536);
  }
  #card3 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzlIzm58MLpGZyvzQuW1OXKpU-uz9AQAEbTA&s);
  }

  .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100px;
    gap: 5px;
    position: relative;
    z-index: 10;

    padding-left: 108px;
    flex-direction: column;
  }
  .card {
    height: 500px;
    width: 200px;
    background-color: #11bd36;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all ease 0.9s;
    margin-bottom: 60px;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #05e736;
    padding: 10px;
    padding-top: 16px;
    opacity: 0;
    transition: all ease 0.9s;
  }

  .overlay h4 {
    color: #000;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .overlay p {
    color: #000;
  }

  .card:hover .overlay {
    opacity: 1;
  }

  .card:hover {
    transform: rotate3d(-1, 1, 1, 20deg); /* Example: 3D rotation with angle */
  }

  /* .green section */

  .green {
    height: 30vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: linear-gradient(to left bottom, #27a535, #afec08);
  }
  .green h4 {
    width: 35%;
    font-size: 10px;
    line-height: 20px;
    color: black;
    text-transform: uppercase;
  }

  .green img {
    width: 10%;
    height: 100%;
    object-fit: cover;
  }

  .page3 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
  }
  .page3 p {
    width: 50%;
    font-size: 15px;
    line-height: 15px;
    color: white;
    font-weight: 400;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;
  }

  .page3 img {
    position: absolute;
    height: 0px;
  }

  .page3 .coln1 {
    left: 35%;
    top: 45%;
  }
  .page3 .coln2 {
    right: -5%;
    bottom: 23%;
  }

  .page4 {
    height: 20vh;
    /* background-color: aqua; */
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding-right: 75px;
    margin-top: 45px;
  }

  .elem {
    height: 70%;
    width: 30%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .elem h2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    color: #000;
    font-weight: 600;
    font-size: 10px;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
    overflow: hidden;
  }

  .page4 h1 {
    font-size: 38px;
    position: absolute;
    top: -80%;
    color: black;
    -webkit-text-stroke: 2px white;
    font-weight: 500;
  }
  #footer {
    height: auto;
    padding: 10px 5vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vw;
  }
  #f1 img {
    height: 40px;
  }
  #f2 h3,
  #f3 h3 {
    font-size: 4vw;
  }
  #f4 h4 {
    font-size: 3vw;
  }
}
